Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sdf
*.vsp
*.o
[Bb]in
[Dd]ebug*/
test-results/
*.lib
*.opensdf
*.sbr
*.ipch
obj/
intermediate*/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
!Chess.Lib/
OpenHoldem/*
OpenHoldem_4.5.0/*
yeux_v2/*
yeux_v2--delete/*
/MeerkatApi/nbproject/private/
/MeerkatApi/build/
/MeerkatApi/dist/